.value-table{
    color: white;
    margin-top: 2.75rem;
}
.value-table thead, tbody{
    color: white;
}
.value-table thead, tbody{
    color: white;
}
.value-table tbody tr:hover{
    color: yellow !important;
    background-color: transparent !important;
}